.catalogPage {
  padding: 0px;
}

.catalogPage h1 {
  color: var(--white);

  text-align: center;
}

.carList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-bottom: 20px;
}
