.catalogPage {
  padding-left: 120px;
  padding-right: 120px;
  margin: auto;
  max-width: 1440px;
}

.catalogPage h1 {
  color: var(--white);
  text-align: center;
}

.carList {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 276px);
  gap: 48px 24px;
  margin-bottom: 48px;
  justify-content: center;
}
