.button {
  background-color: transparent;
  color: var(--white-600);
  border: 1px solid var(--white-600);
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1em;
  font-weight: 500;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button:hover {
  background-color: var(--yellow);
  color: var(--text-button);
  border-color: var(--yellow);
}
