.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f2f4f7;

  color: var(--white);
  width: 1440px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  gap: 960px;
  border-bottom: 1px solid #f2f4f7;
  padding-top: 10px;
  width: 1440px;
  height: 68px;
  background: #f2f4f7;
}

.navList {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
  color: #101828;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 32px;
  width: 136px;
  height: 20px;
  margin-right: 120px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.navItem {
}

.navLink {
  color: var(--white-600);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: #0b44cd;
}

.logoIcon {
  margin: 26px 0px 26px 120px;
}
