.card {
  width: 276px;
  height: 424px;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.imageWrapper {
  position: relative;
  height: 268px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.favoriteWrapper {
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 10;
}

.details {
  padding: 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.topRow {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px;
}

.model {
  font-size: 1.2em;
  font-weight: bold;
  color: var(--white);
  margin: 0;
}

.brand {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
}

.modelName {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #007bff;
  margin-left: 4px;
}

.comma {
  color: #101828;
}

.year {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
}

.price {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #101828;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.dollarSign {
  margin-right: 4px;
  font-weight: 700;
}

.features {
  list-style: none;
  padding: 0;
  margin: 0 0 15px 0;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33333;
  color: #8d929a;
}

.features li {
  position: relative;
  padding: 0;
  padding-right: 6px;
  margin-right: 6px;
}

.features li:not(:last-child)::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 14px;
  background: #8d929a;
}

.readMoreButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 0px;
  border-radius: 12px;
  width: 100%;
  height: 44px;
  background: #3470ff;
  margin-top: auto;
  border: none;
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
  cursor: pointer;
}

.readMoreButton:hover {
  background-color: #0b44cd;
}
